<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
	<script src="jquery.js"></script>
<script src="angular.min.js"></script>
	<script src="echarts3.2.3.min.js"></script>
	<script src="tmplUtils.js"></script>
<script src="server-http.js"></script>
<script src="directive.js"></script>

</head>

<body ng-controller="Aaa">
<div id="menuTree">

</div>

<div class="content">
	<my-chart my-id="div1" my-params="params" my-url="url"></my-chart>
	<my-chart my-id="div2" my-params="params2" my-url="url"></my-chart>
</div>

<script>
	var app = angular.module('myApp',['module1', 'dM']);

	var jsonTree = [
		{
			"name": "第一部分",	//菜单标题
			"nameList": "bg1",	//容器Id
			"isHide": 0,	//菜单默认状态:是否展开 0=>不展开 1=>展开
			"options": [	//配置请求参数
				{
					"templateSn": '',	//模块Id
					"dimenId": '',	//dimension=>维度Id
					"schoolType": ''	//学校类型 sma => 小学	可选参数
				}
			],
			"list": [
				{
					"name": "第一部分子集",
					"boxId": "bg11",
					"isHide": 0,
					"options": [
						{
							"templateSn": '415',	//['415','067','416','086','048'],
							"dimenId": '1',
							"schoolType": 'sma'
						},{
							"templateSn": '067',
							"dimenId": '1',
							"schoolType": 'sma'
						},{
							"templateSn": '416',
							"dimenId": '1',
							"schoolType": 'sma'
						},{
							"templateSn": '086',
							"dimenId": '1',
							"schoolType": 'sma'
						},{
							"templateSn": '048',
							"dimenId": '1',
							"schoolType": 'sma'
						}
					],
					"list": []
				}
			]
		},
		{
			"name": "第二部分",	//菜单标题
			"nameList": "bg2",	//容器Id
			"isHide": 0,	//菜单默认状态:是否展开 0=>不展开 1=>展开
			"options": {	//配置请求参数
				"templateSn": [],	//模块Id
				"dimenId": [],	//dimension=>维度Id
//			"schoolType": 'sma'	//学校类型 sma => 小学	可选参数
			},
			"list": [
				{
					"name": "第二部分子集",
					"boxId": "bg21",
					"isHide": 0,
					"options": [
						{
							"templateSn": '415',	//['415','067','416','086','048'],
							"dimenId": '1',
							"schoolType": 'sma'
						},{
							"templateSn": '067',
							"dimenId": '1',
							"schoolType": 'sma'
						},{
							"templateSn": '416',
							"dimenId": '1',
							"schoolType": 'sma'
						},{
							"templateSn": '086',
							"dimenId": '1',
							"schoolType": 'sma'
						},{
							"templateSn": '048',
							"dimenId": '1',
							"schoolType": 'sma'
						}
					],
					"list": []
				}
			]
		}
	];
	var menuHtml = '';	//左侧菜单html
	var createHtml = function(jsonData) {
		for ( var i=0; i<jsonData.length; i++ ) {
			//是否有子集
			if ( jsonData[i]["list"].length > 0 ) {
				menuHtml += "<div><span ng-click='menuToHtml(\""+ jsonData[i]["nameList"] +"\")' name='#"+jsonData[i]["nameList"]+"' data-nameList='"+jsonData[i]["nameList"]+"' id='menu-"+jsonData[i]["nameList"]+"' data-isHide='"+jsonData[i]["isHide"]+"' data-options='"+ JSON.stringify(jsonData[i]["options"]) +"'><strong class=\"showArrow\"></strong><a class=\"leafPeer\" href='javascript:void(0);' >"+ jsonData[i]["name"] +"</a></span><div>";
				createHtml(jsonData[i]["list"]);
//				debugger;
			} else {
				menuHtml += "<div><span ng-click='menuToHtml(\""+ jsonData[i]["nameList"] +"\")' name='#"+jsonData[i]["nameList"]+"' data-nameList='"+jsonData[i]["nameList"]+"'  id='menu-"+jsonData[i]["nameList"]+"' data-isHide='"+jsonData[i]["isHide"]+"' data-options='"+JSON.stringify(jsonData[i]["options"])+"'><strong></strong><a href='javascript:void(0);'>"+ jsonData[i]["name"] +"</a></span><div>";
			}
			menuHtml += "</div></div>";
		}
		return menuHtml;
	}

	$('#menuTree').html(createHtml(jsonTree));



	app.controller('Aaa',['$scope','$sce','db',function($scope,$sce,db){
		$scope.url = 'http://60.205.115.173:8081/yitaireport/reportMain/getTempleteData';
		$scope.params = {
			dimenId:6,
			areaId:361021,
			trialId:96,
			schoolType:'mid',
			roleType:0,
			templateSn:'036',
			templateType:20,
			schoolTypeDetail:'mid',
		};
		$scope.params2 = {
			dimenId:6,
			areaId:361021,
			trialId:96,
			schoolType:'mid',
			roleType:0,
			templateSn:'036',
			templateType:20,
			schoolTypeDetail:'hig',
		};
	}]);
</script>

</body>
</html>
